* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(121, 121, 121, 1);

}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--menuColor);


}

::-webkit-scrollbar-thumb:hover {
  background: var(--menuColor);

}

body {
  overflow-x: hidden;
  font-family: var(--fontFamilyMon);
}

p {
  margin: 0;
}

.header-info {
  color: var(--headerColor);
}

.header-info .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-blog {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-flow: row wrap;
  background-color: var(--headerBg);
  height: 48px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon-link {
  padding: 0 6px;
  font-size: var(--fontS20);
  font-size: 18px;
  color: var(--headerColor);
}

.social-icon-link:hover {
  transform: scale(1.05);
  transition: all .6s ease-in-out;
  color: #fff;
}

.date-blog {
  font-size: 14px;
  font-weight: 400;
}

.cloud {
  font-family: var(--fontFamilyPop);
  font-weight: 600;
  font-size: 17px;
}

/* search */
.form-control {
  display: block;
  width: calc(100% - 30px);
  height: calc(1em + 0.75rem + 1px);
  width: 164px;
  padding: 0rem 2.75rem 0rem 0.75rem;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-radius: 4px;
}

.form-inline {
  position: relative;
}

.btn-search {

  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.btn-search-img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.form-control:focus {
  color: #000;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

.form-control:focus+.btn-search {
  display: none;
}

.form-control::placeholder {
  text-align: left;
  font-family: var(--fontFamilyPop);
  color: var(--searchColor);
  font-size: var(--fontS12);

}

.header-img {
  position: relative;
}

.header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-pattern {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.menu-section {
  width: 100%;
  z-index: 2;
}
/* navbar */

.navbar {
  height: 40px;
  position: relative;
}

.navbar-toggler {
  z-index: 4;
  color: transparent;
  border: none;
  margin: auto;
}

.navbar-toggler-icon {
  color: #fff;
  font-size: 15px;
  background-image: url("../../img/navbar.jpg");
}

.show .navbar-nav {
  background-color: rgba(225, 225, 225, .9);
  z-index: 99;
  width: 100vw;
  padding: 0 20px;
  color: yellow;
  z-index: 9999;
}

.navbar a {
  color: var(--headerBg);
  font-weight: 600;
  font-size: 16px;
}

.navbar-nav {
  justify-content: space-between !important;
  padding-right: 50px;
  width: 100%;
  z-index: 3;
}

.dropdown-menu {
  background-color: var(--navbarBg) !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
  border: none;
  margin-top: -8px;
  z-index: 4;
}

.nav-link {
  line-height: 42px;
  text-transform: uppercase;
  font-size: 14px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--colorRed);
}

.fa-chevron-down {
  transition: transform .3s ease-in-out;
}

.nav-link:hover .fa-chevron-down {
  transform: rotate(180deg);
  transition: all .3s ease-in-out;
}

.dropdown-menu .dropdown-item {
  padding: 10px 18px;
  text-transform: capitalize;
  background-color: var(--headerColor);
  color: var(--menuColor);
  font-size: 16px;
  font-weight: 500;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--colorRed);
}

.dropdown-item {
  position: relative;
}

.dropdown-item:hover::before {
  content: url("/src/img/icon.svg");
  position: absolute;
  left: 0px;
  padding: 3px 5px;
  vertical-align: middle;
}

.navbar .active {
  color: rgb(224, 224, 224) !important;
}

.form-icon {
  z-index: 3;
  cursor: pointer;
  transition: .2s all ease-in-out;
}

.form-icon:hover {
  transform: scale(1.2);
}

.form-section {
  position: absolute;
  background-color: var(--lightBlueColor);
  bottom: -59px;
  right: -325px;
  padding: 10px;
  border-bottom-left-radius: 5px;
}

.form-section input {
  width: 250px;
}

.form-section button {
  transition: .2s all ease-in-out;
}

.form-section button:hover {
  border-color: transparent;
  transform: scale(1.2);
}

.mobile-btn:hover {
  border-color: transparent;
}

.dropdown-toggle::after{
  color: transparent;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {

  .navbar-nav {
    justify-content: space-between !important;
    padding-right: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar {
    padding: 0;
    height: 50px;
  }

  .form-section {
    display: none;
  }

  .show .navbar-nav {
    margin-top: 0px;
  }


  .menu-section {
    z-index: 3;
    width: 100%;
  }

  #menuContainer {
    padding: 0;
  }

  .cloud {
    font-size: 14px;
  }

  .date-blog {
    font-size: 12px;
  }

  .social-icon-link {
    font-size: 14px;
  }

  .form-control {
    width: 140px;
    height: calc(1em + 0.40rem + 1px);
  }

  .btn-search {
    right: 8px;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .right-blog {
    height: auto;
    padding: 10px;
  }

  .navbar {
    height: 30px;
    padding: 0;
  }

  .nav-link {
    line-height: 30px;
    font-size: 13px;
  }

  .dropdown-item {
    font-size: 12px;
  }

  #menuContainer {
    padding: 0;
  }

  .navbar-toggler {
    height: 30px;
  }

  .navbar-toggler-icon {
    font-size: 10px;
  }

  .header-info .container {
    display: flex;
    flex-wrap: wrap;
  }

  .right-blog p {
    font-size: 14px;
  }

  .social-icon-link {
    font-size: 16px;
  }

  .btn-search {
    position: absolute;
    right: 0px;
    top: 50%;
  }

  .form-inline {
    position: relative;
    margin: 0 auto;
  }

  .form-control {
    height: calc(1em + 0.55rem + 1px);
  }
}

@media screen and (max-width: 576px) and (min-width: 480px) {
  .right-blog {
    height: auto;
    padding: 10px;
  }

  .navbar {
    height: 30px;
    padding: 0;
  }

  .nav-link {
    line-height: 30px;
    font-size: 13px;
  }

  .dropdown-item {
    font-size: 12px;
  }

  #menuContainer {
    padding: 0;
  }

  .navbar-toggler {
    height: 30px;
  }

  .navbar-toggler-icon {
    font-size: 10px;
  }

  .header-info .container {
    display: flex;
    flex-wrap: wrap;
  }

  .right-blog p {
    font-size: 12px;
  }

  .social-icon-link {
    padding: 0 5px;
    font-size: 14px;
  }

  .btn-search {
    position: absolute;
    right: 0px;
    top: 20%;
  }

  .form-inline {
    position: relative;
  }
}

@media screen and (max-width: 480px) and (min-width: 320px) {

  .header-info .container {
    display: block;
  }

  .header-info .time-section {
    font-size: 10px;
  }

  .header-info .social-section i {
    font-size: 14px;
  }

  .header-info .social-section a:not(:last-child) {
    margin-right: 3px;
  }

  .nav-link {
    line-height: 30px;
    font-size: 12px;
  }

  .dropdown-item {
    font-size: 11px;
  }

  .right-blog {
    height: auto;
  }

  .header-info .container p {
    text-align: center;
    margin: 5px 0;
    font-size: 12px;
  }

  .social-icon-link {
    font-size: 12px;
  }

  .form-control {
    margin: 0 auto;
  }

  .form-control {
    display: block;
    height: calc(1em + 0.35rem + 1px);
    width: 100px;
  }

  .btn-search {
    position: absolute;
    top: 3px;
    right: 37%;
  }


  .btn-search-img {
    width: 15px;
    height: 15px;
  }
}

/* Hover funksionalı - 1024px-dən böyük ölçülərdə */
@media screen and (min-width: 1024px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/* Click funksionalı - 1024px-dən kiçik ölçülərdə */
@media screen and (max-width: 1023px) {
  /* Hover funksionalını aradan qaldırırıq */
  .dropdown:hover .dropdown-menu {
    display: none;
  }
  /* Click-də açılma funksionalını əlavə edirik */
  .dropdown-toggle:active+.dropdown-menu,
  .dropdown-toggle:focus+.dropdown-menu {
    display: block;
  }
  /* .dropdown-toggle i{
    display: none;
  } */
  .dropdown-toggle::after{
    color: transparent;
  }
}

