.contact {
    padding-top: 30px;
}

.contact_title {
    color: var(--headerBg);
    padding: 15px 0;
    text-align: center;
    font-size: 26px;
}

.responsive-map {
    overflow: hidden;
    padding-bottom: 38.25%;
    position: relative;
    height: 0;
}

.responsive-map iframe {
    left: 0;
    top: 0%;
    height: 400px;
    width: 100%;
    position: absolute;
}

.address {
    margin: 20px 0;
}

.address-text {
    border-bottom: 1px solid var(--headerBg);
    padding: 7px 0;
}

.address-text:last-child {
    border: none;
}

.address-link i {
    font-size: 1.2rem;
}

.address-link i:hover {
    transition: .3s all ease-in-out;
}

.address-link {
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 1.4;
    color: var(--mapBg);
}

.address-link:hover {
    text-decoration: none;
    color: #0a2240;
}

@media screen and (max-width: 576px) and (min-width:320px) {
    .contact {
        padding: 15px 0;
    }

    .contact_title {
        padding: 4px 0;
        font-size: 22px;
    }

    .address-link {
        text-decoration: none;
        font-size: 12px;
    }

    .address-link i {
        font-size: 1rem;
    }

    .responsive-map {
        margin: 0;
    }
}

@media screen and (max-width: 768px) and (min-width:576px) {
    .contact {
        padding: 15px 0;
    }

    .contact_title {
        padding: 4px 0;
        font-size: 24px;
    }

    .address-link {
        text-decoration: none;
        font-size: 14px;
    }

    .address-link i {
        font-size: 1.1rem;
    }

    .responsive-map {
        margin: 0;
    }
}
/* online apply */


@media (max-width: 320px) {
    .section {
        padding: 10px 0 !important;
    }
    .site-section {
        padding: 0.5em 0 !important;
    }
}


.section-title {
    text-align: center;
    padding: 5px 0;
    position: relative;
}

.section-title h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: var(--headerBg);
    position: relative;
    z-index: 2;
}

.section-title span {
    position: absolute;
    top: 30px;
    color: #f3f5f5;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}

.section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

@media (max-width: 575px) {
    .section-title h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }
    .section-title span {
        font-size: 38px;
    }
}

.contact .info-wrap {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.contact .info {
    background: #fff;
}

.contact .info i {
    font-size: 24px;
    color: #01b1d7;
    float: left;
    width: 48px;
    height: 48px;
    background: #e2faff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #354144;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 15px !important;
    color: #62787d;
}

.contact .info:hover i {
    background: #01b1d7;
    color: #fff;
}

.contact .php-email-form {
    width: 100%;
    padding: 15px;
    background: transparent;
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input {
    height: 44px;
    width: 100%;

}



.contact .php-email-form textarea {
    padding: 10px 12px;
    width: 100%;
    display: block;
    margin-right: 12px;
    border: 1px solid #bebaba;
    color: #888888;
    padding: 16px 12px 15px;
    margin-bottom: 20px;
    height: auto;
}

.contact .php-email-form button[type="submit"] {
    background: #0097d7;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}


.contact .php-email-form button[type="submit"]:hover {
    background: var(--headerBg);
}

.form-radio-legend {
    margin-bottom: 15px;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form-radio-inline .form-radio-label {
    display: inline-block;
    margin-right: 5rem;
}

.form-radio-label {
    position: relative;
    cursor: pointer;
    padding-left: 2rem;
    text-align: left;
    color: #333;
    display: block;
    margin-bottom: 2rem;
}

.form-radio-label:hover i {
    color: #337ab7;
}

.form-radio-label span {
    display: block;
}

.form-radio-label input {
    width: auto;
    opacity: 0.0001;
    position: absolute;
    left: 0.25rem;
    top: 0.25rem;
    margin: 0;
    padding: 0;
}

.form-radio-button {
    position: absolute;
    left: 0;
    cursor: pointer;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999;
}

.form-radio-button::before,
.form-radio-button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin: 0.25rem;
    width: 1rem;
    height: 1rem;
    transition: transform 0.28s ease, color 0.28s ease;
    border-radius: 50%;
    border: 0.125rem solid currentColor;
    will-change: transform, color;
    -webkit-transition: transform 0.28s ease, color 0.28s ease;
    -moz-transition: transform 0.28s ease, color 0.28s ease;
    -ms-transition: transform 0.28s ease, color 0.28s ease;
    -o-transition: transform 0.28s ease, color 0.28s ease;
}

.form-radio-button::after {
    transform: scale(0);
    background-color: #337ab7;
    border-color: #337ab7;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.form-radio-field:checked~.form-radio-button::after {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
}

.form-radio-field:checked~.form-radio-button::before {
    color: #337ab7;
}
