.video-gallery{
    padding-bottom: 60px;
}
.video-title {
    margin: 40px 0 20px 0;
    text-align: center;
    color: var(--headerBg);
}


.video-container {
    width: 100%;
    padding: 10px;
    display: inline-block;
}

.responsive-video {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.responsive-video iframe,
.responsive-video video {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-bottom: 2px solid #000;
    transition: transform 1s;

}
.responsive-video iframe:hover,
.responsive-video video{
    transform: scale(1.06);
    transition: all ease-in-out .6s;
}